<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tomas Gomez</title>
</head>
<body>
<h1>
Seleccione la operacion
</h1>

<ul>
	<li><a href="calculoFactorial?num1=4">1)Factorial de un numero</a></li>
	<li><a href="calculoBisiesto?num1=2008">2)Año bisiesto</a></li>
	<li><a href="calculoPar?num1=13">3)Numero par o impar</a></li>
	<li><a href="calculoMes?num1=12">4)Calculo mes</a></li>
	<li><a href="calculoMes2?num1=13">5)Calculo mes</a></li>
	<li><a href="calculoCalificacion?num1=13">6)Calculo Calificacion</a></li>
	<li><a href="calculoPar?num1=13">7)Numero par o impar</a></li>
    <li><a href="calculoMultiplos?num1=4">8)Secuencia de numeros 1</a></li>
    <li><a href="calculoRestante1?num1=320">9)restante1</a></li>
    <li><a href="calculoRestante2?num1=320">10)restante2</a></li>
    <li><a href="calculoRestante3?num1=320">11)restante3</a></li>
    <li><a href="calculoPunto12?num1=8">12)ecuacion de caida</a></li>

</ul>

</body>
</html>