<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tomas Gomez</title>
</head>
<body>
<h1>
Seleccione la operacion
</h1>

<ul>
	<li><a href="calculoFactorial?num1=4">Factorial de un numero</a></li>
	<li><a href="calculoBisiesto?num1=2008">Año bisiesto</a></li>
	<li><a href="calculoMes?num1=12">Calculo mes</a></li>
	<li><a href="calculoMes2?num1=13">Calculo mes</a></li>
	<li><a href="calculoCalificacion?num1=13">Calculo Calificacion</a></li>
	<li><a href="calculoSecuenciaFor?num1=13">Secuencia de numeros con for</a></li>

</ul>

</body>
</html>